<!DOCTYPE html>
<html>
<head>
  <title>Tester4</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	<div class="navbar">
		<div class="navbar-inner">
			<a href="#" class="brand"> <img src="/images/gymoline_logo_nav.png"> </a>
			<ul class="nav pull-right">
				<li class="active"><a href="#">Nosotros</a></li>
				<li><a href="#">Contactanos</a></li>
				
				<% if user_signed_in? %>
					<li><%= link_to "Editar", edit_user_registration_path %></li>
					<li><%= link_to "Cerrar Sesion", destroy_user_session_path, method: :delete %></li>
				<% else %>
					<li><a href=<%=new_user_session_path %>><button class="btn" type="button">Ingresa</button></a></li>
					<li><a href=<%=new_user_registration_path %>><button class="btn" type="button">Registrate</button></a></li>
				<% end %>
					
			</ul>
		</div>	
	</div>	
	
	<div class="container">	
		<%= yield %>
	</div>

</body>
</html>
